.inputBasedBox input{
text-align: left;
width: 100%;
font-size: large;
font-weight: 700;
border: 1px solid #ccc;
padding: 10px;
transition: all 0.5s ease-in-out;
}

.inputBasedBox input:focus{
   box-shadow: 2px 2px 15px #ccc;
   width: 270px;
}


.inputBasedBox{
   display: flex;
   font-weight: bold;
   font-size: 1.5rem;                 
   font-family: "Quicksand, sans-serif";
}
Table{
   text-align: left;
   font-size:larger;
}
